<% for ( expense of expenses) { %> 
    <tr id="expense-<%= expense.id %>">
        <td><%= expense.amount %></td>
        <td><%= expense.description %></td>
        <td><%= expense.category %></td>
        <td><form onsubmit="deleteExpense()">
            <input type="hidden" name="expenseId" value="<%= expense.id %>">
            <button class="btn btn-danger">Delete</button>
        </form></td>
    </tr>
<% } %>